body {
    width: 100%;
    margin: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #369;
    border: 2px dotted yellow;
}

.viewport {
    position: relative;
    top: 52px;
    bottom: 52px;
    height: 90%;
    width: 90%;
    margin: auto;
    /*max-width: 1024px;*/
    background-color: lightblue;
    border: 2px dotted yellow;
    text-align: center;
}

.viewport:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    margin: auto;
    background-color: #369;
    border: 2px dotted yellow;
}

.mg_tile {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 auto;
    border: 1px dotted #822;
    vertical-align: middle;
}


/*
button {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: 0;
    padding: 7px;
    background-color: #ff4500;
    color: white;
    float: right;
    margin: 10px 10px 10px 10px;
}

label {
    font-family: Verdana;
    float:left;
    border: 1px dotted orange;
    margin: 10px 10px 10px 10px;
    color: white;
}

.five {
    clear: left;
}

img[src*="monsters"] {
    width: 125px;
}

img[src*="logo"]{
    width: 50px;
    padding-top: 34%;
}*/