body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    /*height: 100%;*/
    margin: auto;
    
}

#mg-wrapper {
    /*width: 100%;
    max-width: 1024px;
    margin: auto;*/
}

#mg-contents {
    position: relative;
    padding-bottom: 50%;
    padding: 10px;
    border: 1px dotted red;
}

.mg-tile {
    /*height: 28%;
    width: 20%;
    padding: 5px;*/
    /*box-sizing: border-box;*/
    /*float: left;*/
    /*perspective: 500px;*/
    position: relative;
}

/*.easy .mg-tile, .med .mg-tile {
    width: 20%;
}
.hard .mg-tile {
    width: 14.8%;
}*/

.mg-tile-inner {
    /*width: 100%;
    height: 100%;*/
    cursor: pointer;
    /*position: relative;*/
    transform-style: preserve-3d;
    transition: transform .3s;
    /* transform origin */
}


.mg-tile-inside,
.mg-tile-outside
 {
    /*position: absolute;
    top: 0;
    left: 0;*/
    box-shadow: 0 0 0 1px #787a80;
    backface-visibility: hidden;
}
.mg-tile-outside {
    position: absolute;
    top: 0;
    background: url("../images/default/logo-bw.png") 50% 50% no-repeat;
    background-color: #dcdee1;
    /*max-width: 100%;
    margin: auto;*/
    height: 100%;
    width: 100%;
}
.mg-tile-inside {
    background-color: #f8fafc;
    /*width: 100%;*/
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(-180deg);
}

.flipped img {
    /*transform: scale3d(15, 25, 30);*/
}

/*#button-bucket, h1 {
    text-align: center;
    margin: auto;
    padding: 2%;
}*/

/*#button-bucket .diff {
    font-size: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}*/

.mg-tile {
    /*border: 1px dotted red;*/
}

.counter {
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}

.counter .diff {
    border: 0;
}

.w3-container {
    padding-bottom: 10px;
    box-shadow: 2px 2px 8px black;
}
.w3-border {
    border: 2px solid white !important;
}
.w3-col {
    width: 20%;
}
.w3-col.m1{
    width: 20%;
}

/*.diff {
    text-shadow: -1px -2px 5px black;
    color: darkgray;
}*/

/*#easy {
    background-color: green;
}
#med {
    background-color: yellow;
}
#hard {
    background-color: red;
}*/


.w3-theme-l5 {color:#000; background-color:#f5f7f8}
.w3-theme-l4 {color:#000; background-color:#dfe3e8}
.w3-theme-l3 {color:#000; background-color:#bfc7d1}
.w3-theme-l2 {color:#000; background-color:#9fabba}
.w3-theme-l1 {color:#fff; background-color:#7f8ea2}
.w3-theme-d1 {color:#fff; background-color:#59677a}
.w3-theme-d2 {color:#fff; background-color:#4f5c6d}
.w3-theme-d3 {color:#fff; background-color:#45505f}
.w3-theme-d4 {color:#fff; background-color:#3b4552}
.w3-theme-d5 {color:#fff; background-color:#313944}

.w3-theme-light {color:#000; background-color:#f5f7f8}
.w3-theme-dark {color:#fff; background-color:#313944}
.w3-theme-action {color:#fff; background-color:#313944}

.w3-theme {color:#fff; background-color:#647489}
.w3-text-theme {color:#647489}
.w3-theme-border {border-color:#647489}