body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

#mg-wrapper {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

#mg-contents {
    position: relative;
    padding-bottom: 50%;
}

.mg-tile {
    height: 28%;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    float: left;
    perspective: 500px;
}

.easy .mg-tile, .med .mg-tile {
    width: 20%;
}
.hard .mg-tile {
    width: 14.8%;
}

.mg-tile-inner {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s;
    /* transform origin */
    
}

.mg-tile-inside,
.mg-tile-outside
 {
    /* position must be set * /
    /* top and left must be set */
    /* height and with must be set */
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 1px #787a80;
    backface-visibility: hidden;
}
.mg-tile-outside {
    /* apply a background element /url
        change bg color so it's not obvious its turned over.
        set the width.
        set the defult display because inside, will be different.
    */
    background: url("../images/default/logo-bw.png") 50% 50% no-repeat;
    background-color: #dcdee1;
    width: 100%;
    height: 200px;


}
.mg-tile-inside {
    background-color: #f8fafc;
    width: 100%;
    transform: rotateY(180deg);
}
.unmatched {
    
}

.flipped {
    transform: rotateY(-180deg);
}

.flipped img {
    /*transform: scale3d(15, 25, 30);*/
}

#button-bucket, h1 {
    text-align: center;
    margin: auto;
    padding: 2%;
}

#button-bucket .diff {
    font-size: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}

.counter {
    text-align: center;
}

.counter .diff {
    border: 0;
}
.diff {
    text-shadow: -1px -2px 5px black;
    color: darkgray;
}

#easy {
    background-color: green;
}
#med {
    background-color: yellow;
}
#hard {
    background-color: red;
}